.layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.layer .panel {
  position: absolute;
  background-color: #111;
  border-radius: 10px;
  border: 1px solid #222;
  color: #aaa;
  padding: 8px 12px 8px 12px;
  font-family: "PingFang SC", sans-serif;
  text-shadow: 0 0 2px black;
  font-size: 16px;
}

.progress {
  display: inline-block;
  top: 18px;
  right: 18px;
}

.ctrl {
  display: flex;
  align-items: stretch;
}

.ctrl .panel {
  flex: 1;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 500ms;
}

.show {
  opacity: 1;
}

.loading .word {
  font-size: 38px;
  color: #444;
}
