:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

viewer, .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer {
  pointer-events: none;
}

.layer .panel {
  position: absolute;
  background-color: #222;
  border-radius: 10px;
  color: #ccc;
  opacity: 0.8;
  padding: 10px 14px 8px 14px;
  font-family: 'Monaco', sans-serif;
  font-size: 14px;
}

.progress {
  display: inline-block;
  top: 18px;
  right: 18px;
}

.ctrl {

  display: flex;
  align-items: stretch;
}

.ctrl .panel {
  flex: 1;
}
