<section class="pages" #pages
         [class.singlePage]="config.isSinglePage()"
         [class.continuousScroll]="config.isContinuousScroll()">
  <viewer #page *ngFor="let p of book?.meta?.Pages; let i = index;"
          [config]="config"
          [hidden]="config.isContinuousScroll()? false: (i+1!==book.current)"
          [id]="'page-'+(i+1)"
          [class]="i"
          [page]="i+1"
          [cache]="inCacheRange(i+1)"
          [path]="book.getPageFilePath(p.Id)"
          [meta]="p"
          (attention)="book.updateCurrent(i+1)"
          (click)="book.next(i+1, true)">
  </viewer>
</section>
<section class="layer">
  <section class="panel progress" *ngIf="book?.total">
    {{book?.current}} / {{book?.total}}
  </section>
</section>
