<section class="viewer" #viewer
         [class.overflow]="isOverflow()"
         [class.singlePage]="config.isSinglePage()"
         [class.continuousScroll]="config.isContinuousScroll()">
         <!--[style.height.px]="config.whenContinuousScroll(height)">-->
  <div class="loading" [class.hide]="show">
    <div class="words">
      <div class="page">Page {{page}}</div>
      <!--<div class="status">{{meta.Type}}: {{meta.Width}}-{{meta.Height}}</div>-->
      <div class="status">loading...</div>
    </div>
  </div>
  <img #img [src]="path"
       *ngIf="cache"
       [style.marginTop.px]="config.whenSinglePageNotFullHeight(config.ui.view.before)"
       [style.marginBottom.px]="config.whenSinglePageNotFullHeight(config.ui.view.after)"
       [style.maxHeight.px]="config.whenNotFullWidth(height)"
       [style.minWidth.%]="config.whenFullWidth(100)"
       [style.width.%]="config.whenFullWidth(100)"
       [hidden]="!show"
       (load)="onLoad(img)">
  <!--[class.visible]="show && config.isContinuousScroll()?inView:true"-->
</section>
