<section class="viewer"
         [class]="classNames.get()"
         [style.Height.px]="height"
         [style.minHeight.px]="height"
         [style.maxHeight.px]="height"
>
  <!--[class.y]="!isX(img)"-->
  <!--[class.tiny]="isTiny(img)"-->
  <!--[class.huge]="isHuge(img)">-->
  <!--<img *ngIf="img?.src"-->
  <!--[src]="img?.src | trustResourceUrl"-->
  <!--[style.maxWidth.%]="scale"-->
  <!--[style.border]="'1px solid purple'"-->
  *ngIf="!show">
  <div class="loading">
    <div class="words">
      <div class="page">Page {{page}}</div>
      <!--<div class="status">{{meta.Type}}: {{meta.Width}}-{{meta.Height}}</div>-->
      <div class="status">loading...</div>
    </div>
  </div>
  <img #img [src]="path"
       [style.maxHeight.px]="height"
       [class.visible]="show && inView"
       *ngIf="cache"
       [hidden]="!show"
       (load)="onLoad($event, img)">
</section>
<!--[style.maxHeight.vh]="100"-->
<!--<div style="color: white;">{{img?.src}}</div>-->

<div ng-show="news.length">no data</div>
