* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  font-family: "PingFang SC", sans-serif;
  cursor: default;
}

canvas {
  /*animation: canvas-enter 75ms ease-in;*/
}

@keyframes canvas-enter {
  from {
    opacity: .8
  }
  to {
    opacity: 1
  }
}
